body {
	background-color:#250000;
	color:#999999;
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin-top: 40px;
	margin-left:200px;
	margin-right:200px;
}

.container{
	width:100%;
	overflow:hidden;
}

#main-header h1{
	color:#999999;
	font-size:80px;
	line-height:normal; 
	text-align:center;
	margin-bottom:0;
}

#main-header h2{
	color:#999999;
	font-size:25px;
	font-family:Tahoma, Helvetica, sans-serif;
	font-style:italic;
	text-align:center;
	line-height:1.6em;
	margin-bottom:0;
}

#main-header h3{
	color:#999999;
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	text-align:right;
	margin-top:0;
	padding-right:4px;
}

#navbar{
	font-style:bold;
}

#navbar ul{
	padding:0;
	list-style:none;
	text-align:left;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#999999;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
}

.main{
	float:center;
	padding:0 30px;
	box-sizing:border-box;
}

#main-box{
    float:left;
	padding:15px;
	box-sizing: border-box;
}

#main-box p{
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:25px;
	line-height:1.6em;
	margin-top:0;
	text-align:left;
	padding-right:4px;
}

.box {
	float:left;
	width:33.3%;
	padding:10px;
	box-sizing:border-box;
}

.box h3 {
	text-align:center;
}

@media(max-widht:600px){
	.main-header{
		width:100%;
	}
}
