body {
	background-color:#000000;
	color:#ffffff;
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin-left:100px;
	margin-right:100px;
}

.container{
	width:100%;
	overflow:hidden;
}

#navbar{
	font-style:bold;
}

#navbar ul{
	padding:0;
	list-style:none;
	text-align:center;
}

#navbar li{
	padding-right:100px;
	padding-left:100px;
	display:inline;
}

#navbar a{
	color:#ffffff;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
}

.headliner{
	width:100%;
	overflow:hidden;
	background-color:#413f3f;
	border-width: 4px;
	border-color: #000000;
	border-right:inset; 
	border-bottom:inset;
	border-top:outset;
	border-left:outset;
}

#headline img{
	width:300px;
	height:300px;
	padding-left:150px;
	padding-top:10px;
}

#headline h1{
	color:#ffffff;
	font-size:80px;
	float:right;
	vertical-align: middle;
	line-height:normal; 
	padding-right:150px;
	padding-top: 75px;
	margin-top:0;
	margin-bottom:0;
}

#headline h2{
	color:#ffffff;
	font-size:25px;
	font-family:Tahoma, Helvetica, sans-serif;
	font-style:italic;
	text-align:center;
	line-height:normal;
	float:right;
	padding-right:150px;
	padding-top: 50px;
	margin-top:0;
	margin-bottom:0;
}

#main-header h3{
	color:#ffffff;
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:16px;
	text-align:right;
	margin-top:0;
	padding-right:4px;
}
.main{
	float:center;
	padding:0 30px;
	box-sizing:border-box;
}

#main-box{
    float:left;
	padding:15px;
	box-sizing: border-box;
}

#main-box p{
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:25px;
	line-height:1.6em;
	margin-top:0;
	text-align:left;
	padding-right:4px;
}

.box {
	float:left;
	width:33.3%;
	padding:10px;
	box-sizing:border-box;
}

.box h2 {
	text-align:center;
	font-size: 50px;
}

@media(max-widht:600px){
	.main-header{
		width:100%;
	}
}
